#head #intro #path {
  float: left;
  width: 100%;
   background-color: #FFFFFF;
  color: #464646;
  font-family: "trebuchet ms",arial,helvetica,sans-serif;
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

#head {
  height: 116px;
  overflow: hidden;
  background: white image-url("bg_body.gif") repeat-x;
  .wrap {
    position: relative;
  }
  h1 {
    position: absolute;
    top: 20px;
    width: 114px;
    height: 112px;
    background: image-url("Jobsite_logo.png") no-repeat;
    a {
      display: block;
      width: 114px;
      height: 112px;
    }
    span {
      display: none;
    }
  }
  .in {
    float: left;
    height: 28px;
    background: image-url("quicknav_right.gif") no-repeat top right;
    padding-right: 30px;
  }
  .out {
    float: right;
    height: 28px;
    background: image-url("quicknav_left.gif") no-repeat top left;
    padding-left: 30px;
  }
  .quicknav {
    font-size: x-small;
    padding-top: 6px;
    float: left;
    height: 34px;
    background: image-url("bg_quicknav.gif") repeat-x top;
    color: #464646;
    a {
      text-decoration: none;
      margin: 0;
      &:hover {
        color: #fb001f;
      }
    }
  }
  ul {
    position: absolute;
    font-size: 1.2em;
    list-style: none;
    left: 539px;
    top: 86px;
    margin-top: 0px;
    width: 454px;
    right: 0px;
    margin-bottom: 0px;
}
  li {
    float: left;
    height: 28px;
    margin-left: 2px;
    background: #ffc02d image-url("bg_nav1.gif") no-repeat right;
    a {
      text-decoration: none;
      display: block;
      height: 23px;
      float: left;
      padding: 5px 14px 0 14px;
      background: image-url("bg_nav.gif") no-repeat;
    }
    &.spec {
      margin-left: 10px;
      background: #ff7909 image-url("bg_navspec1.gif") no-repeat right;
      a {
        background: image-url("bg_navspec1.gif") no-repeat;
        color: #950900;
      }
    }
    &.active {
      height: 32px;
      background: #9c1526 image-url("bg_navactive1.gif") no-repeat top right;
      position: relative;
      top: -4px;
      a {
        color: white;
        float: left;
        background: image-url("bg_navspec1.gif") no-repeat;
      }
    }
    a:hover {
      color: white;
    }
  }
}

#intro .wrap {
  padding: 0 300px 0px 0;
  width: 575px;
}
#intro {
  color: white;
  background-color: #9c1526;
  .wrap {
    padding: 9px 200px 22px 0;
    width: 675px;
    background: #9c1526 image-url("bg_intro.gif") no-repeat top right;
    border-bottom: 1px solid #9c1526;
    border-top: 1px solid #9c1526;
  }
  h2 {
    margin: 20px 0 6px 0;
    font-size: 1.7em;
    color: #fff4d5;
  }
  p {
    font-style: italic;
    font-size: 1.4em;
    margin-bottom: 0px;
    text-align: justify;
  }
  .link {
    font-weight: bold;
    font-style: italic;
    color: white;
    text-decoration: underline;
    color: #fff4d5;
  }
  ul {
    height: 32px;
    margin: 30px 0 15px 0;
    font-size: 1.2em;
    list-style: none outside none;
    width: 537px;
    margin-bottom: -23px;
  }
  li {
    float: right;
    height: 32px;
    margin-left: 9px;
    background: image-url("bg_introli1.gif") no-repeat scroll 0 0 transparent;
    a {
      text-decoration: none;
      display: block;
      height: 23px;
      float: left;
      padding: 8px 14px 0 27px;
      background: image-url("bg_introli.gif") no-repeat scroll 0 0 transparent;
      font-weight: bold;
      &:hover {
        color: #fb001f;
      }
    }
  }
}

#path {
  background: image-url("bg_content.gif") repeat-x scroll 0 0 #D9D4C2;
  height: 36px;
  p {
    float: left;
    width: 599px;
    overflow: hidden;
    margin: 0 0 15px 0;
    padding-top: 10px;
    font-family: "ms sans serif", geneva, sans-serif;
    font-size: 11px;
    color: #393938;
    span {
      color: #6f6f6f;
    }
    a {
      text-decoration: none;
      color: #333333;
      padding-right: 11px;
      margin-right: 1px;
      background-image: image-url("/images/ico_path.gif");
      background-position: right;
      background-repeat: no-repeat;
      &:hover {
        color: #c3182e;
        border-bottom: none;
      }
    }
  }
}
