#head, #intro, #path, #footer {
  float: left;
  width: 100%;
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

#head {
  height: 117px;
  overflow: hidden;
  background: white image-url("bg_body.gif") repeat-x;
  .wrap {
    position: relative;
  }
  h1 {
    position: absolute;
    top: 4px;
    width: 114px;
    height: 112px;
    background: image-url("Jobsite_logo.png") no-repeat;
    a {
      display: block;
      width: 307px;
      height: 62px;
    }
    span {
      display: none;
    }
  }
  .in {
    float: left;
    height: 28px;
    background: url("/system/1/assets/files/000/000/220/220/203b6f6a9/original/quicknav_right.gif") no-repeat top right;
    padding-right: 30px;
  }
  .out {
    float: right;
    height: 28px;
    background: url("/system/1/assets/files/000/000/221/221/da4728932/original/quicknav_left.gif") no-repeat top left;
    padding-left: 30px;
  }
  .quicknav {
    font-size: 1.1em;
    float: left;
    height: 22px;
    padding-top: 6px;
    background: url("/system/1/assets/files/000/000/218/218/79f6fcc62/original/bg_quicknav.gif") repeat-x top;
    a {
      text-decoration: none;
      margin: 0 5px;
      &:hover {
        color: #fb001f;
      }
    }
  }
  ul {
    position: absolute;
    right: 0;
    top: 89px;
    height: 28px;
    font-size: 1.2em;
    list-style: none;
  }
  li {
    float: left;
    height: 28px;
    margin-left: 1px;
    background: #ffc02d url("/system/1/assets/files/000/000/222/222/0e80bb385/original/bg_nav1.gif") no-repeat right;
    a {
      text-decoration: none;
      display: block;
      height: 23px;
      float: left;
      padding: 5px 14px 0 14px;
      background: url("/system/1/assets/files/000/000/219/219/8c8f4cb93/original/bg_nav.gif") no-repeat;
    }
    &.spec {
      margin-left: 10px;
      background: #ff7909 url("/system/1/assets/files/000/000/223/223/6f1e30a17/original/bg_navspec1.gif") no-repeat right;
      a {
        background: url("/system/1/assets/files/000/000/223/223/6f1e30a17/original/bg_navspec1.gif") no-repeat;
        color: #950900;
      }
    }
    &.active {
      height: 32px;
      background: #9c1526 url("/system/1/assets/files/000/000/224/224/ab78ef3af/original/bg_navactive1.gif") no-repeat top right;
      position: relative;
      top: -4px;
      a {
        color: white;
        float: left;
        background: url("/system/1/assets/files/000/000/223/223/6f1e30a17/original/bg_navspec1.gif") no-repeat;
      }
    }
    a:hover {
      color: white;
    }
  }
}

#intro .wrap {
  padding: 0 300px 0px 0;
  width: 575px;
}
#intro {
  color: white;
  background-color: #9c1526;
  .wrap {
    padding: 9px 200px 22px 0;
    width: 675px;
    background: #9c1526 image-url("bg_intro.gif") no-repeat top right;
    border-bottom: 1px solid #9c1526;
    border-top: 1px solid #9c1526;
  }
  h2 {
    margin: 20px 0 6px 0;
    font-size: 2.4em;
    color: #fff4d5;
  }
  p {
    font-style: italic;
    font-size: 1.4em;
    margin-bottom: 0px;
    text-align: justify;
  }
  .link {
    font-weight: bold;
    font-style: italic;
    color: white;
    text-decoration: underline;
    color: #fff4d5;
  }
  ul {
    height: 32px;
    margin: 30px 0 15px 0;
    font-size: 1.2em;
    list-style: none;
  }
  li {
    float: right;
    height: 32px;
    margin-left: 9px;
    
    a {
      text-decoration: none;
      display: block;
      height: 23px;
      float: left;
      padding: 7px 14px 0 27px;
      
      font-weight: bold;
      &:hover {
        color: #fb001f;
      }
    }
  }
}

#path {
  
  height: 36px;
  p {
    float: left;
    width: 599px;
    overflow: hidden;
    margin: 0 0 15px 0;
    padding-top: 10px;
    font-family: "ms sans serif", geneva, sans-serif;
    font-size: 11px;
    color: #393938;
    span {
      color: #6f6f6f;
    }
    a {
      text-decoration: none;
      color: #333333;
      padding-right: 11px;
      margin-right: 1px;
      background-image: url(/images/ico_path.gif);
      background-position: right;
      background-repeat: no-repeat;
      &:hover {
        color: #c3182e;
        border-bottom: none;
      }
    }
  }
}

#footer {
  
  height: 125px;
  padding-top: 20px;
  color: #cdcdcd;
  font-size: 1.1em;
  font-family: arial, helvetica, sans-serif;
  .left {
    width: 430px;
  }
  .right {
    width: 430px;
    text-align: right;
  }
  .dimmed {
    color: #747473;
  }
  a {
    color: #cdcdcd;
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
  .nav a {
    color: #ffc103;
  }
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
