<div id = "content">
  <div class = "wrap">
    <div id="mainnoside">
      <h2>Listing users</h2>
      <table>
        <tr>
          <th></th>
          <th>Email</th>
        </tr>
        <% @users.each_with_index do |user,index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
