<aside id="sidebar" class="column">
    <form class="quick_search">
      <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
    </form>
    <hr/>
    <h3>Content</h3>
    <ul class="toggle">
      <li class="icn_new_article"><a href="#">New Job</a></li>
      <li class="icn_edit_article"><a href="#">Edit Job</a></li>
      <li class="icn_categories"><a href="#">Categories</a></li>
      <li class="icn_tags"><a href="#">Tags</a></li>
    </ul>
    <h3>Users</h3>
    <ul class="toggle">
      <li class="icn_add_user"><a href="#">Add New Admin User</a></li>
      <li class="icn_view_users"><a href="#">View Admin Users</a></li>
      <li class="icn_profile"><a href="#">Your Profile</a></li>
    </ul>
    <h3>Admin</h3>
    <ul class="toggle">
      <li class="icn_settings"><a href="#">Options</a></li>
      <li class="icn_security"><a href="#">Security</a></li>
      <li class="icn_jump_back"><a href="#">Logout</a></li>
    </ul>

    <footer>
      <hr />
      <p><strong>Copyright &copy; 2013 Jobsite Admin</strong></p>
    </footer>
</aside><!-- end of sidebar -->