<div id="footer">
<div class="wrap">
<div class="clearfix">
<p class="tl">
Jobsite &copy; 2013
</p>
<p class="tl dimmed">
Disclaimer: This is a publicly accessible database. The views and 
opinions of originators and contributors expressed on this site do not 
necessarily state or reflect those of DSC Limited. No representation or 
warranty is given as regards to any applicability of any suggestion, its
 accuracy or completeness.
</p>
</div>
</div>
</div>
